/* -------------------------- CONFIGURACION INICIAL ------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* --------------------- CONFIGURACION DEL DOCUMENTO CSS -------------------- */

/* ------------------------------ VARIABLES CSS ----------------------------- */

:root {
  --colorPrincipal: #232946;
  --colorTitulo: #fffffe;
  --colorParrafo: #b8c1ec;
  --colorBotones: #eebbc3;
  --colorSecundario: #d4d8f0;
  --colorMasclaro: #dfe4fd;
}

/* ------------------------------ HEADER / NAV ------------------------------ */

header {
  background-color: var(--colorPrincipal);
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
}

#toggle-menu {
  display: none;
}

.logo {
  display: flex;
  gap: 35px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.nav-items {
  display: flex;
  gap: 45px;
  list-style: none;
}

.nav-items a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
}

.nav-items a:hover {
  color: #e39774;
}

#search-bar {
  width: 500px;
  height: 40px;
  align-self: center;
  border-radius: 5px;
}

#logo-page {
  width: 100px;
  height: 90px;
}

/* ---------------------------------- BODY ---------------------------------- */
body {
  background-color: var(--colorParrafo);
  color: var(--colorTitulo);
}

/* ------------------------------ SECTION HERO ------------------------------ */

.section_hero {
  display: flex;
  color: var(--colorVioleta);
  justify-content: center;
  padding: 100px;
  margin: 1rem;
  gap: 100px;
  align-items: center;
  max-width: 100%;
}

.container-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--colorTitulo);
  font-size: 17px;
  text-align: center;
  align-items: center;
  background-color: var(--colorPrincipal);
  border-radius: 10px;
}
.hero-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  color: var(--colorVioleta);
  gap: 40px;
  max-width: 88%;
  border-radius: 10px;
}

#hero {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  font-size: 1.5rem;
  gap: 30px;
  color: var(--colorPrincipal);
}

#hero h1 {
  font-weight: 900;
}

#card-logo {
  width: 300px;
}
.card-back {
  background-color: var(--colorPrincipal);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  color: var(--colorPrincipal);
  background-color: #b8c1ec;
}

#shopyfuner {
  background-color: var(--colorPrincipal);
  text-decoration: none;
  width: 240px;
  border-radius: 10px;
  text-align: center;
  height: 40px;
  color: var(--colorTitulo);
}

#shopyfuner:hover {
  color: var(--colorParrafo);
}

/* ----------------------------- SEGUNDA SECTION ---------------------------- */

.second-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px;
  font-size: 1.5rem;
  color: var(--colorPrincipal);
  gap: 40px;
}

.card-eco {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 55px;
}

.card-ec img {
  width: 420px;
  height: 320px;
  border-radius: 10px;
}

.card-ec h4 {
  font-size: 25px;
}

.card-ec p {
  font-size: 20px;
}

#flecha-izq,
#flecha-der {
  background-color: var(--colorPrincipal);
  color: var(--colorTitulo);
  text-decoration: none;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  text-align: center;
}

/* ----------------------------- TERCERA SECCION ---------------------------- */

.tercera-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tercera-section h4 {
  font-size: 25px;
}

/* ----------------------------- CUARTA SECCION ----------------------------- */

.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--colorPrincipal);
  gap: 10px;
  color: var(--colorTitulo);
  padding: 35px;
}

.contact-form input {
  width: 900px;
  border-radius: 8px;
}

.cuarta-seccion h5 {
  font-size: 25px;
}

.contact-form button {
  width: 90px;
}

/* --------------------------------- FOOTER --------------------------------- */

footer {
  color: var(--colorSecundario);
  background-color: var(--colorSecundario);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--colorPrincipal);
}
