* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* --------------------------------- SIGN IN -------------------------------- */
header {
  background-color: #242d3a;
  width: 100%;
  height: 100px;
  color: white;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

#search-bar {
  width: 500px;
  height: 40px;
  align-self: center;
  border-radius: 5px;
}

#logo-page {
  width: 100px;
  height: 90px;
}

#user-img {
  width: 70px;
  height: 70px;
}

.container_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.login-container,
.sso-container {
  color: #242d3a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  gap: 30px;
}

.login__form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

input,
button {
  width: 500px;
  height: 30px;
  border-radius: 20px;
}

button {
  color: white;
  background-color: #242d3a;
}
