/* ------------------------- RESOLUCION PARA TABLETS (IPAD MINI)------------------------ */

@media (max-width: 768px) {
  #menu-rsp {
    display: flex;
    order: 2;
  }

  #toggle-menu:checked + .nav-items {
    display: flex;
  }

  .nav-items {
    position: absolute;
    top: 100px;
    width: 90%;
    left: 50%;
    right: 80%;
    flex-direction: column;
    background-color: white;
    border: 2px solid #242d3a;
    border-radius: 0 0 15px 15px;
    display: none;
    padding: 5px;
  }

  .nav-items a {
    color: #242d3a;
  }

  .section_hero {
    padding: 0;
  }

  .card__container {
    padding: 100px;
    gap: 90px;
    margin: 20%;
    flex-direction: column;
  }

  .card-ec {
    padding-top: 40px;
  }

  .card-ec.three {
    display: none;
  }

  .card-ec.two {
    display: none;
  }

  .cuarta-seccion {
    flex-direction: column;
    gap: 30px;
    padding: 20px;
  }

  .contact-form input {
    width: 650px;
    height: 20px;
    border-radius: 8px;
  }
}

/* ------------------------ RESOLUCION PARA CELULARES (iPhone 11) ----------------------- */

@media (max-width: 415px) {
  .contact__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .contact-form input {
    width: 350px;
    height: 40px;
    gap: 30px;
    border-radius: 8px;
  }

  #menu-rsp {
    display: flex;
    order: 2;
  }

  #toggle-menu:checked + .nav-items {
    display: flex;
  }

  .nav-items {
    top: 100px;
    width: 90%;
    left: 50%;
    right: 50%;
    padding: 10px;
    border: 1px solid #242d3a;
  }
}
