/* ------------------------- RESOLUCION PARA TABLETS (IPAD MINI)------------------------ */

@media (max-width: 897px) {
  #menu-rsp {
    display: flex;
    order: 2;
  }

  #toggle-menu:checked + .nav-items {
    display: flex;
  }

  .logo {
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo h1 {
    margin-top: 15px;
    padding: 30px;
    text-align: center;
  }

  .nav-items {
    position: absolute;
    top: 80px;
    width: 90%;
    left: 50%;
    right: 80%;
    flex-direction: column;
    background-color: white;
    border: 2px solid #242d3a;
    border-radius: 0 0 15px 15px;
    display: none;
    padding: 5px;
  }

  .nav-items a {
    color: #242d3a;
  }

  .section_hero {
    padding: 0;
  }

  .card-ec.three {
    display: none;
  }

  .card-ec.two {
    display: none;
  }

  .cuarta-seccion {
    flex-direction: column;
    gap: 30px;
    padding: 20px;
  }

  #contact {
    flex-direction: column;
  }

  .contact-form input {
    width: 650px;
    height: 20px;
    border-radius: 8px;
  }

  .features {
    max-width: 700px;
  }

  .instruction {
    width: 200px;
  }
  .container__features {
    gap: 20px;
  }

  .card__container {
    width: auto;
  }

  .one {
    height: 20vh;
  }
  .info-employer {
    background-color: #242d3a;
    color: white;
    height: 150px;
    /* width: 290px; */
    border: 2px solid #242d3a;
  }
  #flecha-der,
  #flecha-izq {
    display: none;
  }
}

/* ------------------------ RESOLUCION PARA CELULARES (iPhone 11) ----------------------- */

@media (max-width: 687px) {
  .contact__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .contact-form input {
    width: 350px;
    height: 40px;
    gap: 30px;
    border-radius: 8px;
  }

  #menu-rsp {
    display: flex;
    order: 2;
  }

  #toggle-menu:checked + .nav-items {
    display: flex;
  }

  .nav-items {
    top: 78px;
    width: 90%;
    left: 50%;
    right: 50%;
    padding: 10px;
    border: 1px solid #242d3a;
  }
  .second-section h3 {
    font-size: 1.5rem;
  }

  #about {
    padding: 50px;
    margin-top: 50px;
    margin-bottom: -25px;
  }

  #hero h2 {
    width: 320px;
    font-size: 2rem;
  }

  #hero p {
    width: 320px;
  }

  #about-us p {
    width: 320px;
  }

  .section_hero {
    font-size: 18px;
    width: 100%;
  }

  #hero p {
    font-size: 0.9rem;
  }

  #shopyfuner {
    width: 240px;
    height: 45px;
    font-size: 18px;
  }

  footer {
    font-size: 12px;
    display: flex;
  }

  .instruction {
    width: 10px;
  }

  .instruction h4 {
    font-size: 20px;
    width: 320px;
  }

  .instruction p {
    font-size: 15px;
    flex-wrap: wrap;
  }

  .info-employertwo p {
    font-size: 15px;
  }

  .info-employertwo h4 {
    font-size: 20px;
  }

  .card__coment i {
    font-size: 15px;
  }

  .contact-form input {
    width: 305px;
  }

  #logo-page {
    height: 50px;
  }

  .card-eco {
    gap: 2.5px;
  }

  .card__container {
    width: fit-content;
  }

  .instruction p {
    width: 20px;
  }

  .info-third {
    text-align: center;
  }

  .logo {
    margin: 0;
    text-align: center;
    width: 30%;
  }

  .logo h1 {
    margin: 0px;
    text-align: center;
    padding: 10px;
  }

  .card-eco {
    margin-bottom: 70px;
  }

  .features__card {
    flex-direction: column;
  }

  .container__features {
    text-align: center;
  }

  .one {
    height: 20vh;
  }

  .info-employer {
    background-color: #242d3a;
    color: white;
    height: 150px;
    width: 250px;
    border: 2px solid #242d3a;
  }

  .container__features p {
    font-size: 1rem;
  }

  .card__container {
    padding-top: 100px;
    flex-direction: column;
  }

  .features {
    padding-top: 200px;
    padding-bottom: 30px;
  }

  .feature__cv p,
  .feature__entrevistas p,
  .feature__linkedin p {
    font-size: 0.9rem;
  }
}
