/* -------------------------- CONFIGURACION INICIAL ------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* --------------------- CONFIGURACION DEL DOCUMENTO CSS -------------------- */

/* ------------------------------ VARIABLES CSS ----------------------------- */

:root {
  --colorPrincipal: #242d3a;
  --colorTitulo: #fffffe;
  --colorSubtitulo: #e2e5e6;
}

/* ------------------------------- ANIMACIONES ------------------------------ */

/* ------------------------------ DEGRADE DE IA ----------------------------- */

span {
  background: linear-gradient(#373b44, #4286f4);
  -webkit-background-clip: text;
  color: transparent;
}

/* ------------------------------ HEADER / NAV ------------------------------ */

header {
  background-color: var(--colorPrincipal);
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 40px;
  height: 60px;
  position: fixed;
  margin-top: -20px;
}

#menu-rspgi,
#toggle-menu {
  display: none;
}

.logo {
  display: flex;
  gap: 35px;
  padding: 10px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.nav-items {
  display: flex;
  gap: 45px;
  list-style: none;
}

.nav-items a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
}

.nav-items a:hover {
  color: #c23530;
}

#logo-page {
  width: 80px;
  height: 50px;
  align-self: center;
  justify-content: center;
  display: flex;
}

#menu-rsp {
  display: none;
}

/* ---------------------------------- BODY ---------------------------------- */
body {
  background-color: var(--colorSubtitulo);
  color: var(--colorTitulo);
}

/* ------------------------------ SECTION HERO ------------------------------ */

.section_hero {
  display: flex;
  justify-content: center;
  padding: 100px;
  background-color: var(--colorPrincipal);
  gap: 100px;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
}

.container-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--colorTitulo);
  font-size: 17px;
  text-align: center;
  align-items: center;
  background-color: var(--colorPrincipal);
  border-radius: 10px;
}
.hero-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  color: var(--colorVioleta);
  gap: 40px;
  max-width: 88%;
  border-radius: 10px;
}

#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  font-size: 1.5rem;
  gap: 30px;
  color: var(--colorSubtitulo);
  margin: 150px;
}

#hero h1 {
  font-weight: 900;
}

#hero p {
  font-size: 1.2rem;
}

#card-logo {
  width: 300px;
}
.card-back {
  background-color: var(--colorPrincipal);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  color: var(--colorPrincipal);
  background-color: #b8c1ec;
}

#shopyfuner {
  background-color: var(--colorTitulo);
  text-decoration: none;
  width: 240px;
  border-radius: 10px;
  text-align: center;
  height: 45px;
  color: var(--colorPrincipal);
  font-size: 20px;
  padding: 10px;
}

#shopyfuner:hover {
  color: red;
}

/* ----------------------------- CARDS IMG SECTION ---------------------------- */

.second-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  font-size: 1.5rem;
  color: var(--colorPrincipal);
  gap: 55px;
  max-width: 1200px;
  margin: 0 auto;
}

.card-eco {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 52px;
}

.card-ec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 45px;
  border: 8px solid var(--colorPrincipal);
  border-radius: 10px;
  height: 150px;
  width: 300px;
  /* padding: 10px; */
}

.info-employer {
  background-color: var(--colorPrincipal);
  color: var(--colorTitulo);
  border-radius: k5px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 290px;
}

.card-ec h4 {
  font-size: 15px;
}

.card-ec p {
  font-size: 12px;
}

.card-ec.one,
.card-ec.two,
.card-ec.three {
  background-color: white;
}

#flecha-izq,
#flecha-der {
  background-color: var(--colorPrincipal);
  color: var(--colorTitulo);
  text-decoration: none;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  text-align: center;
}
.info-employer {
  display: flex;
  gap: 5px;
}

#employeer_one,
#employeer_two,
#employeer_three {
  width: 4 0px;
  height: 40px;
  border-radius: 40px;
}

.card__coment {
  padding: 5px;
}

/* ----------------------------- TERCERA SECCION ---------------------------- */

.tercera-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--colorPrincipal);
  padding: 50px;
  margin: auto;
  max-width: 1200px;
  gap: 90px;
}

.info-third {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.tercera-section h4 {
  font-size: 30px;
}

.tercera-section p {
  font-size: 1.1rem;
}

.card__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 400px;
  gap: 32px;
}

.instruction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
  width: 50%;
  height: 50%;
}

#upload_img,
#send_img,
#email_snd {
  width: 30px;
}
/* ----------------------------- CUARTA SECCION ----------------------------- */

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: var(--colorSubtitulo);
}

.cuarta-seccion {
  display: flex;
  justify-content: space-between;
  padding: 45px;
  background-color: var(--colorPrincipal);
  margin: 0 auto;
  max-width: 100%;
}

.contact-form input {
  width: 900px;
  height: 30px;
  border-radius: 8px;
}

.cuarta-seccion h5 {
  font-size: 25px;
}

.contact-form button {
  width: 100px;
  height: 35px;
}

.contact__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* ----------------------------- ULTIMA SECCION ----------------------------- */

.features {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: auto;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-top: 50px;
  padding-bottom: 120px;
}

.container__features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--colorPrincipal);
  gap: 10px;
}

.features__card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.feature__cv,
.feature__entrevistas,
.feature__linkedin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #242d3a;
  gap: 30px;
  font-size: 1rem;
  width: 70%;
}

.container__features h3 {
  font-size: 1.7rem;
}

/* --------------------------------- FOOTER --------------------------------- */

footer {
  color: var(--colorSecundario);
  background-color: var(--colorSecundario);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--colorPrincipal);
}

.links {
  display: flex;
  gap: 30px;
  height: 45px;
}

.links__items a {
  text-decoration: none;
  color: black;
}

.links__items a:hover {
  color: white;
}

.links__items {
  list-style: none;
}
